body {
  font-family: "Times New Roman", serif;
  margin: 0;
  background: #322a2a;
  color: #dbcdcd;
}

header {
  background: #0b3d91;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active, nav a:hover {
  text-decoration: underline;
}

.hero {
  background: url('images/phoneshop.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero .btn {
  background: #ffcc00;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  font-weight: bold;
}

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  background: white;
  border: 1px solid #ccc;
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #0b3d91;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  background: #0b3d91;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}